body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
}


h1, h2 {
  color: rgba(76, 111, 21, 0.902);
} 

h1 {
  font-size: 50px;
}

h2 {
  font-size: 25px;
}

.main-text {
  text-align: justify;
}

.author-text {
  font-size: 22px;
}